<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="shortcut icon" href="favicon.png">-->
    <title>金汇丰</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/i_style.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>

    <script src="../js/popper.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
    </ul>

    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../images/导航1.png">
            <div class="carousel-caption">
                <a href="" type="button" class="btn btn-warning" style="font-size: 20px;width: 150px;">在线申请</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../images/导航2.png">
        </div>
        <div class="carousel-item">
            <img src="../images/导航3.png">
        </div>
        <div class="carousel-item">
            <img src="../images/导航4.png">
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>


<div class="cys_box relative overhidden">
    <div class="cys_con relative w1200">
        <div class="cys_sx cys_sx01 absolute"></div>
        <div class="cys_sx cys_sx02 absolute"></div>
        <div class="cys_sx cys_sx03 absolute"></div>
        <div class="cys_conOne cys_conList clearfix">
            <div class="fl pic relative">
                <div class="cicle absolute"></div>
                <div class="ys_z absolute"></div>
            </div>
            <div class="fl txt">
                <h6>放款快</h6>
                <p>最快当天放款</p>
            </div>
        </div>

        <div class="cys_conTwo cys_conList clearfix">
            <div class="fl pic relative">
                <div class="cicle absolute"></div>
                <div class="ys_z absolute"></div>
            </div>
            <div class="fl txt">
                <h6>利率低</h6>
                <p>最低月利率3厘</p>
            </div>
        </div>

        <div class="cys_conThree cys_conList clearfix">
            <div class="fl pic relative">
                <div class="cicle absolute"></div>
                <div class="ys_z absolute"></div>
            </div>
            <div class="fl txt">
                <h6>额度高</h6>
                <p>最高可贷1500万</p>
            </div>
        </div>
        <div class="cys_conFour cys_conList clearfix">
            <div class="fl pic relative">
                <div class="cicle absolute"></div>
                <div class="ys_z absolute"></div>
            </div>
            <div class="fl txt">
                <h6>门槛低</h6>
                <p>月入3000即可贷款</p>
            </div>
        </div>
    </div>
</div>


<div class="cFina_list w1200 cFina_list3">
    <div class="cFina_titBox">
        <h6>贷款产品</h6>
    </div>
    <div class="cFina_con clearfix mt15">
        <div class="cFina_conList fl">
            <ul class="clearfix">
                <li>
                    <div style="cursor: pointer;">
                        <img src="../images/产品1.png" style="height: 380px;width: 380px;">
                    </div>
                    <div class="btnBox">
                        <a href="#" target="_blank">立即申请</a>
                    </div>
                </li>
                <li>
                    <div style="cursor: pointer;">
                        <img src="../images/产品2.png" style="height: 380px;width: 380px;">
                    </div>
                    <div class="btnBox">
                        <a href="#" target="_blank">立即申请</a>
                    </div>
                </li>
                <li>
                    <div style="cursor: pointer;">
                        <img src="../images/产品1.png" style="height: 380px;width: 380px;">
                    </div>
                    <div class="btnBox">
                        <a href="#" target="_blank">立即申请</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="cFina_list cFina_list4 w1200">
    <div class="cFina_titBox">
        <h6>公司介绍</h6>
    </div>
    <div class="cFina_con clearfix mt15">
        <ul>
            <li style="width: 100%;">
                <span style="font-size: 24px;font-family: 华文细黑;">&emsp;&emsp;金汇丰是一家在依法合规的基础上，采用大数据分析和互联网模式等现代信息化技术手段，以企业的信用信息为依据，深入推进银企互动，实现银企一体化服务的金融科技互联网平台。</span>
            </li>
        </ul>
    </div>
</div>


<div class="cFina_list cFina_list4 w1200">
    <div class="cFina_titBox">
        <h6>联系我们</h6>
    </div>
    <div class="cFina_con clearfix mt15">
        <ul>
            <li style="width: 100%;">
                <span style="font-family: 华文细黑;font-size: 20px;">联系电话</span>
                <h2 style="color: #FC5B2F;">0917-8973333</h2>
                <span style="font-family: 华文细黑;font-size: 20px;">公司地址</span>
                <h3 style="color: #FC5B2F;">宝鸡市金台区大庆路裕隆大厦2002室</h3>
            </li>
        </ul>
    </div>
</div>


<div class="media wrap">
    <ul class="hd">
        <li>
            <ul class="tabs">
                <li><a class="active" href="javascript:void(0)">合作机构</a></li>
                <li><a class="partner" href="javascript:void(0)">友情链接</a></li>
                <li class="arrow"><span class="top-arrow"></span></li>
            </ul>
        </li>
    </ul>
    <div class="content">
        <div class="slides-media">
            <ul class="bd" style="margin-left: 0px;">
                <li><a href=""><img src="../images/pic59f1a85c1d6e9.jpg" data-bd-imgshare-binded="1"></a></li>
                <li><a href=""><img src="../images/pic59f1a879344a1.jpg" data-bd-imgshare-binded="1"></a></li>
                <li><a href=""><img src="../images/pic59f1a8959084c.jpg" data-bd-imgshare-binded="1"></a></li>
                <li><a href=""><img src="../images/pic59f1a8b2cff58.jpg" data-bd-imgshare-binded="1"></a></li>
                <li><a href=""><img src="../images/pic59f1a8cd05859.jpg" data-bd-imgshare-binded="1"></a></li>
                <li><a href=""><img src="../images/pic5968397e3fc60.jpg" data-bd-imgshare-binded="1"></a></li>
                <li><a href=""><img src="../images/pic5968398a5021b.jpg" data-bd-imgshare-binded="1"></a></li>
                <li><a href=""><img src="../images/pic596839e9eab2d.jpg" data-bd-imgshare-binded="1"></a></li>
                <li><a href=""><img src="../images/pic596839f9289e1.jpg" data-bd-imgshare-binded="1"></a></li>
                <li><a href=""><img src="../images/pic59683bf084c63.jpg" data-bd-imgshare-binded="1"></a></li>
            </ul>
        </div>
        <ul class="partners-list">
            <div class="cfoot_clCon clearfix relative">
                <b class="btn absolute">查看更多</b>
                <div class="cfootclTxt fl relative overhidden">
                    <div class="cfootclTxt_list">
                        <a href="http://xian.fang.com/" target="_blank" rel="external nofollow">房天下（搜房网）</a>
                        <a href="http://www.xafgj.gov.cn/prog/page/Index.aspx" target="_blank" rel="external nofollow">房屋管理服务</a>
                        <a href="长安区合同备案查询" target="_blank" rel="external nofollow">长安区合同备案查询</a>
                        <a href="http://www.xazfgjj.gov.cn/gjjcx_dl.jsp?urltype=tree.TreeTempUrl&wbtreeid=1172" target="_blank" rel="external nofollow">西安住房公积金管理</a>
                        <a href="http://www.nacao.org.cn/" target="_blank" rel="external nofollow">非营利性机构查询</a>
                        <a href="http://wenshu.court.gov.cn/" target="_blank" rel="external nofollow">中国裁判文书网</a>
                        <a href="https://www.chinalife.com.cn/zhuzhan/index/" target="_blank" rel="external nofollow">中国人寿官网</a>
                        <a href="http://www.gsxt.gov.cn/index.html" target="_blank" rel="external nofollow">工商企业信息查询</a>
                        <a href="https://ipcrs.pbccrc.org.cn/" target="_blank" rel="external nofollow">个人征信查询</a>
                        <a href="http://zhixing.court.gov.cn/" target="_blank" rel="external nofollow">最高人民法院</a>
                        <a href="http://one.pingan.com/" target="_blank" rel="external nofollow">平安一账通</a>
                        <a href="http://www.cpic.com.cn/?cmpid=nim_jtbd_000057" target="_blank" rel="external nofollow">太平洋保险官网</a>
                        <a href="泰康人寿" target="_blank" rel="external nofollow">泰康人寿</a>
                        <a href="http://www.e-picclife.com/ECPL/" target="_blank" rel="external nofollow">太平人寿 PICC人保</a>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>
<!--<div class="footer">-->
    <!--<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->
<!--</div>-->

</body>

</html>
